
@font-face {
    font-family: Karantina;
    src: url(fonts/Karantina-Regular.ttf);
}
* {
    user-select: none;
    font-family: Karantina;
}
body {
    height: 100%;
    width: 100%;
    background-color:#e9e9e9;
    /* background-image: url(media/Capture.PNG);
    background-size: 100%; */
    direction: rtl;
    overflow: hidden;
    user-select: none;
}

#logoPakar {
    height: 20vh;
    width: 20vh;
    position: absolute;
    left: 40%;
    top: 10%;  
}

#logoModin {
    height: 20vh;
    width: 15vh;
    position: absolute;
    left: 52%;
    top: 10%;
   
}

#titleFirstPage {
    position: absolute;
    top: 32%;
    left: 26%;
    font-size: 15vh;
    text-shadow: 0.2vh 0.2vh #127d2d;
}

#startButton {
   position: absolute;
   bottom: 35%;
   left: 44%;
   font-size: 4vh;
   height: 8vh;
   border-radius: 1vh;
   width: 22vh;
   background-color: #789395;
   color: white;
   border-color:#789395 ;
}
.titleAnyPage {
    font-size: 13vh;
    color: black;
    position: absolute;
    top: 10%;
    text-shadow: 0.2vh 0.2vh #127d2d;
}

#titleSecondPage {
    display: none;
    left: 45%;
}
.text {
    direction: rtl;
    text-align: right;
    font-size: 6vh;
    position: absolute;
}
#targetText {
    top: 28%;
    left: 16%;
    display: none;
}
#nextButton {
    position: absolute;
    bottom: 15%;
    left: 46%;
    border-radius: 1vh;
    font-size: 3vh;
    height: 8vh;
    width: 18vh;
    background-color: #789395;
    color: white;
    border-color:#789395 ;
    cursor: pointer;
    display: none;
}
#titleThirdPage {
    display: none;
    left: 40%;
}
.list {
    font-size: 4.5vh;
    direction: rtl;
    text-align: right;
    position: absolute;
    top: 28%;
    right: 25%;
    display: none;
}

#titleFourthPage {
    display: none;
    left: 25%;
}
#map {
    position: absolute;
    top: 28%;
    left: 6%;
    height: 40vh;
    width: 70vh;
    display: none;
}
#map1 {
    position: absolute;
    top: 28%;
    left: 6%;
    height: 40vh;
    width: 70vh;
    display: none;
}
#tfisaPikuditText {
    top: 27%;
    right: 6%;
    height: 10vh;
    width: 41vw;
    display: none;
    font-size: 4.5vh;
}
#tfisaPikuditTextA {
    top: 25%;
    right: 6%;
    height: 11vh;
    width: 45vw;
    display: none;
}

#tfisaPikuditTextAA {
    top: 29%;
    right: 22%;
    height: 11vh;
    width: 60vw;
    display: none;
}
#titleFifthPage {
    display: none;
    left: 34%;
}
#MavoLyaklarA{
    height: 11vh;
    width: 60vw;
    top: 31%;
    right: 22%;
    display: none;
}
.tree {
    border-radius: 1.5vh;
    font-size: 3vh;
    height: 7vh;
    width: 13vh;
    background-color: #e56c0a;
    color: black;
    border-color:#e56c0a ;
    text-align: center;
    padding: 1vh;
}
.tRight {
    background-color: #e56c0a;
    border-color:#e56c0a ;
    display: none;
}
.tLeft {
    background-color: #5699ce;
    border-color:#5699ce ;
    display: none;
}
#yaklar {
    background-color: #e56c0a;
    display: none;
    cursor: pointer;
}
.flex {
    display: flex;
}
#vertical {
    position: absolute;
    top: 25.6%;
    right: 29%; 
    height: 18.5vh;
    width: 14vh;
    flex-direction: column;
    justify-content: space-between;
}
#verticalLeft {
    position: absolute;
    top: 25.6%;
    right: 59.02%; 
    height: 18.5vh;
    width: 14vh;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
#horizontal {
    position: absolute;
    top: 48.6%;
    right: 29%; 
    height: 8vh;
    width: 51.55vh;
    flex-direction: row;
    justify-content: space-between;
}
#horizontal1 {
    position: absolute;
    top: 48.6%;
    right: 59%; 
    height: 8vh;
    width: 32.5vh;
    flex-direction: row;
    justify-content: space-between;
}
.line {
    position: absolute;
    top: 26%;
    right: 32.3%;
    background-color: black; 
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
}
.lVerticalRight {
    position: absolute;
    top: 26%;
    right: 32.1%;
    height: 28vh;
    width: 0vh;

}
.lHorizontalRight {
    position: absolute;
    top: 51.5%;
    right: 32.3%;
    height: 0vh;
    width: 40vh;

}
.lHorizontalLeft {
    position: absolute;
    top: 47%;
    right: 52.3%;
    height: 0vh;
    width: 38.6vh;

}
#line1 {
    position: absolute;
    top: 47%;
    right: 52.2%;
    height: 2vh;
    width: 0vh;
    opacity: 0%;
}
#line2 {
    position: absolute;
    top: 30%;
    right: 62.2%;
    height: 20vh;
    width: 0vh;
}
#line3 {
    position: absolute;
    top: 47%;
    right: 72.2%;
    height: 2vh;
    width: 0vh;
}
.lineL {
    display: none;
}
.lineR {
    display: none;
}
#yaklarText1 {    
    top: 60%;
    right: 35%;
    font-size: 4vh;
    display: none;
}
#yaklarText2 {
    top: 60%;
    right: 29%;
    font-size: 3.5vh;
    display: none; 
}
#mavoLyaklarText {
    top: 30%;
    right: 20%;
    font-size: 5.5vh;
    display: none;
}
#mavoLyaklarText1 {
    font-size: 5vh;
    text-align: center;
}
#divMavoLyaklarText1 {
    position: absolute;
    top: 27%;
    right: 24%;
    border-radius: 1.5vh;
    height: 39vh;
    width:100vh;
    color: black;
    border-color:#127d2d ;
    border-width: 0.2vh;
    border-style: solid;
    display: none;
}
#mavoLyaklarText2 {
    font-size: 4.5vh;
    position: absolute;
    top: 26%;
    right: 31%;
    display: none;
}
#dragDrop{
    position: absolute;
    top: 40%;
    right: 27%;
    height: 16vh;
    width:90vh;
    color: black;
    flex-wrap: wrap;
    display: none;
}
#textDrop {
    position: absolute;
    right: 8%;
    width: 75vh;
    display: flex;
    justify-content: space-between;
    font-size: 4vh;
    flex-direction: row;
    flex-wrap: wrap;

}
.arrowDiv {
    flex-wrap: wrap;
    position: absolute;
    right:8%;
    top: 32%;
    width: 70vh;
    height: 8vh;
    display: flex;
    justify-content: space-between; 
}
.arrow {
    height: 7vh;
    width: 7vh;
}
.dropable {
    border-radius: 1.5vh;
    height: 10vh;
    width:22vh;
    color: black;
    border-color: white ;
    background-color: white ;
    border-width: 0.2vh;
    border-style: solid;
}
#dropDiv {
    position: absolute;
    top: 90%;
    right: 0%;
    display: flex;
    height: 10vh;
    width: 85vh;
    flex-direction: row;
    justify-content: space-between; 
}
#dragDiv {
    position: absolute;
    top: 180%;
    right: 0%;
    display: flex;
    height: 10vh;
    width: 85vh;
    flex-direction: row;
    justify-content: space-between; 
    text-align: center;
    font-size: 2.6vh;
}
.flip-card {
    background-color: transparent;
    width: 12vw;
    height: 8vh;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1.2vh;
  }
  .flipCardText{
      padding-top: 0.8vh;
      font-size: 2.2vh;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    border-radius: 1.2vh;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 4vh;


  }
  
  .flip-card-front {
    background-color: #5699ce;
    color: black;
  }
  
  .flip-card-back {
    border-radius: 1.2vh;
    background-color: rgb(251 152 76);
    color: black;
    transform: rotateY(180deg);
    height: 20vh;
    width: 30vh;
  }
  #mavoLyaklarText3{
      font-size: 3.2vh;
      text-align: center;
      display: none;
      position: absolute;
      top: 25%;
      right: 28%;
  }
  #flipCard1 {
      position: absolute;
      top: 43%;
      right: 43%;
      display: none;
  }
  #flipCard2 {
      position: absolute;
      top: 56%;
      right: 51%;
      display: none;
  }
  #flipCard3 {
      position: absolute;
      top: 70%;
      right: 43%;
      display: none;
  }
  #flipCard4 {
      position: absolute;
      top: 70%;
      right: 23%;
      display: none;
  }
  #flipCard5 {
      position: absolute;
      top: 70%;
      right: 63%;
      display: none;
  }
#verticalLine1{
    height: 20vh;
    top: 51%;
    right: 48.81%;
    display: none;
}
#horizonLine1{
    width: 60vh;
    top: 74%;
    right: 33%;
    display: none;
}
#horizonLine2{
    width: 5vh;
    top: 60%;
    right: 49%;
    display: none;
}
#mavoLyaklarText4{
    font-size: 3.2vh;
    text-align: center;
    display: none;
    position: absolute;
    top: 15%;
    right: 35%;
}
#mavoLyaklarText5{
    font-size: 5vh;
    text-align: center;
    display: none;
    position: absolute;
    top: 27%;
    right: 17%;
}
#titleSixPage {
    display: none;
    left: 29%;
}
#soldier {
    width: 18vw;
    height: 60vh;
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: none;
}
#zrimatMidaText1{
    font-size: 4vh;
    top: 30%;
    right: 3%;
    display: none;
}
#zrimatMidaText2{
    font-size: 4vh;
    top: 30%;
    right: 3%;
    display: none;
}
.seconedDropable {
    border-radius: 1.5vh;
    height: 4vh;
    width:6vw;
    color: black;
    border-color: white ;
    background-color: white ;
    border-width: 0.2vh;
    border-style: solid;
    padding-bottom: 0%;
}
#dropDiv1 {
    position: absolute;
    top: 0%;
    left:10%;
    display: flex;
    height: 30vh;
    width: 10vw;
    flex-direction: column;
    justify-content: space-between; 

}
#dragDiv1 {
    position: absolute;
    bottom: 0%;
    right: 30%;
    display: flex;
    height: 10vh;
    width: 43vh;
    flex-direction: row;
    justify-content: space-evenly; 
    text-align: center;
    font-size: 2.5vh;

 
}
#dragDrop2{
    position: absolute;
    top: 32%;
    right: 27%;
    height: 50vh;
    width:90vh;
    color: black;
    flex-wrap: wrap;
    display: none;

}
.sentences {
    text-align: right;
    position: absolute;
    top: -1%;
    right: 17%;
    font-size: 3.4vh;
}
#boxText {
    border-radius: 1.5vh;
    height: 50vh;
    width:35vw;
    color: black;
    border-color: #5699ce ;
    background-color: #5699ce ;
    border-width: 0.2vh;
    border-style: solid;
    position: absolute;
    top: 0%;
    right: 11%;
    text-align: center;
    padding-top: 1vh;
    font-size: 4vh;
    display: none;

}
#button {
    position: absolute;
    bottom: 10%;
    right: 34%;
    width: 10vw;
}
#textDrag {
    position: absolute;
    top: -20%;
    right: 23%;
    font-size: 5vh;
}
#flipCard6 {
    position: absolute;
    top: 20%;
    right: -40%;
}
#flipCard7 {
    position: absolute;
    top: 20%;
    left:-40%;
}
.progressBar {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(135 179 201);
    border-width: 1vh;
    background-color: rgb(135 179 201);
    border-radius: 1.1vh;
    height: 6vh;
    width: 8vw;
    margin-top: 2vh;
    margin-right: 1vh;
    text-align: center;
    font-size: 3vh;
    cursor: pointer;
    display: none;
}
#zrimatMidaRight {
    position: absolute;
    top: 36%;
    right: 20%;
    width: 22vw;
    display: none;
    height: 14vh;
    cursor: pointer;
}
#zrimatMidaLeft {
    position: absolute;
    top: 36%;
    left: 20%;
    width: 22vw;
    height: 20vh;
    display: none;
    cursor: pointer;
}
#logoZrima{
    height: 10vh;
    width: 6vw;
}
#logoZrima2{
    height: 12vh;
    width: 6vw;
}
#arrowZrima1 {
    height: 8vh;
    width: 6vw;
    transform: scaleX(-1);
}
#arrowZrima2 {
    height: 8vh;
    width: 6vw;
}
#textZrima{
    font-size: 4.5vh;
    position: absolute;
    right:31%;
    top: 26%;
    display: none;
}
#textZrima1{
    font-size: 4.5vh;
    position: absolute;
    right:42%;
    top: 31%;
    display: none;
}
.topicPakarToRashot {
    border-color: #5699ce ;
    background-color: #5699ce ;
    border-width: 0.2vh;
    border-style: solid;
    width: 10vw;
    height: 10vh;
    border-radius: 1.5vh;
    font-size: 3vh;
    text-align: center;
    padding-top: 1vh;
    cursor: pointer;
}
#pakarToRashot {
    width: 50vw;
    height: 20vh;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    right: 25%;
}
#pakarToRashotDiv{
    width: 30vw;
    height: 20vh;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    right: 35%;
}
#pakarToRashotBox {
    border-radius: 1.5vh;
    height: 25vh;
    width:51vw;
    color: black;
    border-color: rgb(251 152 76) ;
    background-color: rgb(251 152 76) ;
    border-width: 0.2vh;
    border-style: solid;
    position: absolute;
    top: 50%;
    right: 24%;
    text-align: center;
    padding-top: 1vh;
    font-size: 4vh;
    display: none;
    z-index: 1;
}
#button1 {
    position: absolute;
    bottom: 2%;
    right: 44%;
    width: 5vw;
    height: 5vh;
    font-size: 3vh;
}
#titleSevenPage {
    left: 28%;
    display: none;
}
#marchotMidaText {
    font-size: 4vh;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 17%;
    display: none;
}
#book {
    width: 12vw;
    height: 20vh;
    position: absolute;
    top: 38%;
    left: 44%;
    display: none;
    cursor: pointer;
}
#textBook {
    width: 12vw;
    height: 20vh;
    position: absolute;
    top: 41%;
    left: 45%;
    color: rgb(251 152 76);
    font-size: 2.7vh;
    text-align: center;
    display: none;
}
#driveLink {
    width: 12vw;
    height: 20vh;
    position: absolute;
    top: 38%;
    left: 44%;
    display: none;
}
#marchotMidaVideo {
    height: 10vh;
    width: 45vw;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 62%;
    right: 27%;
    text-align: center;
    font-size: 3vh;
}
.videoIcon {
    height: 13vh;
    width: 7vw;
}
#titleEightPage {
    left: 32%;
    display: none;
}
#parakEText {
    display: none;
    right: 23%;
}
#titleTirgolPage{
    display: none;
    right: 28%;
    top: 5%;
}
#tirgolText1 {
    font-size: 3.5vh;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 30%;
    display: none;
}
.tirgolDiv {
    border-radius: 0.6vh;
    height: 6vh;
    width:8vw;
    color: black;
    border-color: #5699ce;
    background-color: #5699ce;
    border-width: 0.2vh;
    border-style: solid;
    font-size: 2.5vh;
    text-align: center;
    padding-top: 0.6vh;
    display: none;
    cursor: pointer;
}
#tirgolMekorot {
    font-size: 4vh;
    position: absolute;
    top: 19%;
    right: 12%;
    display: none;
}
#camera {
    position: absolute;
    top: 35%;
    right: 11%;
}
#telephoneAlerts {
    position: absolute;
    top: 55%;
    right: 11%;
}
#police {
    position: absolute;
    top: 55%;
    right: 33%;
}
#natzig {
    position: absolute;
    top: 55%;
    right:55%;
}
#kamanGdod {
    position: absolute;
    top: 55%;
    right:77%;
}
#samlilNafa {
    position: absolute;
    top: 35%;
    right:77%;
}
#tirgolB1Text {
    display: none;
    position: absolute;
    top: 30%;
    right: 23%;
    text-align: center;
}
#titleTirgolBPage {
    display: none;
    right: 33%;
    top: 5%;
}
#tirgolText2 {
    font-size: 3.5vh;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 27.5%;
    display: none;
}
.answerDiv {
    border-radius: 0.6vh;
    height: 6vh;
    width:8vw;
    color: black;
    border-color: rgb(251 152 76);
    background-color: rgb(251 152 76);
    border-width: 0.2vh;
    border-style: solid;
    font-size: 2.5vh;
    text-align: center;
    padding-top: 0.6vh;
    cursor: pointer;
}
#answerFlex{
    display: flex;
    height: 6vh;
    width: 74vw;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 11%;
    top: 75%;
    display: none;

}
#tirgolBoxText {
    border-radius: 1.5vh;
    height: 10vh;
    width:20vw;
    color: black;
    border-color: green ;
    background-color: green ;
    border-width: 0.2vh;
    border-style: solid;
    position: absolute;
    top: 40%;
    right: 38%;
    text-align: center;
    padding-top: 1vh;
    font-size: 5vh;
    display: none;

}
#finishButton {
    position: absolute;
    bottom: 35%;
    left: 44%;
    font-size: 4vh;
    height: 8vh;
    border-radius: 1vh;
    width: 22vh;
    background-color: #789395;
    color: white;
    border-color:#789395 ;
    font-family: karantina;
    display: none;
}
#endLomdaText {
    display: none;
    font-size: 4vh;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 14%;
}
.graphic {
    height: 15vh;
    width: 3vw;
    display: none;
}
#kamanPicture {
    position: absolute;
    top: 62%;
    left: 17.7%;
}
#natzigPicture {
    position: absolute;
    top: 62%;
    left: 39.3%;
}
#policePicture {
    position: absolute;
    top: 62%;
    left: 61.7%;
}
#firstTree{
    display: none;
}
#secondTree{
    display: none;
}
#tree1 {
    position: absolute;
    top: 35%;
    left:38%
}
.treeText{
    font-size: 2.5vh;
    z-index: 1;
}
#MyaklarTree {
    position: absolute;
    top: 36.5%;
    right: 48.2%;
    
}
#SMyaklarTree {
    position: absolute;
    top: 46.2%;
    right: 51.75%;
   
}
#mashakEisof {
    position: absolute;
    top: 56%;
    right: 39.4%;
}
#ktsinOch{
    position: absolute;
    top: 56.1%;
    right: 46.6%;
    font-size: 2.3vh;
}
#ktsinMida{
    position: absolute;
    top: 56%;
    right: 56.1%;
}
#village{
    position: absolute;
    top: 40%;
    left: 6%;
    height: 20vh;
    width: 20vw;
    cursor: pointer;
}
#instructionsVillage{
    font-size: 3vh;
    position: absolute;
    top: 35%;
    left: 13%;
}
#tree2 {
    position: absolute;
    top:32%;
    left: 36%
}
#town2{
    /* display: none; */
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 40%;
    left: 6%;
    cursor: pointer;
}
#MyaklarTree2 {
    position: absolute;
    top: 39.8%;
    right: 48.2%;
    
}
#SMyaklarTree2 {
    position: absolute;
    top: 48.2%;
    right: 51.4%;
   
}
#mashakEisof2 {
    position: absolute;
    top: 56%;
    left: 37%;
}
#ktsinOch2{
    position: absolute;
    top: 55.1%;
    right: 37.45%;
    font-size: 2.3vh;
    text-align: center;
}
#ktsinMida2{
    position: absolute;
    top: 56%;
    right: 51.4%;
}
#kambatz2 {
    position: absolute;
    top: 56.1%;
    right: 45.6%;
}
#mashakOchMida2 {
    position: absolute;
    top: 63.1%;
    right: 35.8%; 
    font-size: 2.3vh;
    text-align: center;
}
#thirdTree {
    display: none;
}
#tree3{
    position: absolute;
    top:27%;
    left: 27%
}
#city3{
    /* display: none; */
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 40%;
    left: 6%;
    cursor: pointer;
}
#MyaklarTree3 {
    position: absolute;
    top: 39%;
    right: 47.4%;
    
}
#SMyaklarTree3 {
    position: absolute;
    top: 48.5%;
    right: 50.8%;
   
}
#mashakEisof3 {
    position: absolute;
    top: 58%;
    left: 28.5%;
}

#ktsinMida3{
    position: absolute;
    top: 58%;
    left: 44.2%;
}
#kambatz3 {
    position: absolute;
    top: 58%;
    left: 37.6%;
}
#mashakOchMida3 {
    position: absolute;
    top: 56.5%;
    right: 26.2%; 
    text-align: center;
}
#mashakMidaTzibor3 {
    position: absolute;
    top: 58%;
    right: 42.2%; 
    text-align: center; 
}
#mashakMit3 {
    position: absolute;
    top: 67.3%;
    right: 32.8%; 
}
#ktzinTiaom3 {
    position: absolute;
    top: 58%;
    right: 33.6%;
}
#textInformation {
    font-size: 3vh;
    text-align: center;
    position: absolute;
    top: 81%;
    right: 35%;
}
#textInformation1 {
    font-size: 3vh;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 19%;
}